{% extends 'base.html' %}

{% block content %}
{% load static %}
<body>
    <main class="form-signin">
        <div style="margin:auto">
            {{user.user_id}}님
    
            <h2><a href="/logout">로그아웃</a></h2>
        </div>
            
        <div style="margin:auto">
            <h2>내 등록 카드</h2>

            {% for card in card_sets %}
            <form method="POST">
                {% csrf_token %}               
                
                <div class="container">
                    <div class="row">
                       
                        <div class="card">
                            <div class="card-header">
                            주유 카드
                            </div>
                            <img src="images/card-image.png" alt="" />
                            <div class="card-body">
                            <h5 class="card-title">Lorem</h5>
                            <p class="card-text">{{ card.card_token }}</p>
                            
                            <button class="" type="submit" formaction="/api/v1/card-delete/{{ card.id }}">삭제</button>
                            
                            </div>
                        
                        </div>
                        
                                       
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
                                        
                
                </div>

            </form>       
            {% endfor %}
            <form method="POST">
                {% csrf_token %}               
                
                <div class="container">
                    <div class="row">
                    
                        <div class="card">
                        <div class="card-header">
                            주유 추가
                        </div>
                        <img src="images/card-image.png" alt="" />
                        <div class="card-body">
                            <h5 class="card-title">Lorem</h5>
                            <p class="card-text">{{ card.card_token }}</p>
                            
                            <button class="" type="submit" formaction="/insert_enroll/">추가</button>
                            
                        </div>
                        </div>
                    </div>
                                   
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
                
                <!--<input type="hidden" name="_method" value="DELETE"/>-->

            </form>       

        </div>
    </main>

    
    

   
    <br>
    
</body>
{% endblock %}