@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

a:link { color: rgb(0, 0, 0); text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: none;}

.navbar-color {
    background-color: rgb(108,188,202);
}

.form-main {
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
}

.btnSubmit{
    width:100px;
    margin:auto;
    display:block;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
  
.sign-out {
  color: black;
  outline: none;
  text-decoration: none;
  transition: all 0.1s;
}

.sign-out:focus,
.sign-out:hover,
.sign-out:active {
  color: black;
  background-color: grey;
  text-decoration: none;
}

.sign-out > span {
  margin: 0.1em;
}
