{% extends 'base.html' %}

{% block content %}
{% load static %}
  <body class="text-center">
    <main class="form-signin">
        <form method="post" action=".">

    {% csrf_token %}
    
        <!-- 아이디 입력 -->
        <div class="form-floating">
            <input type="id" class="form-control" id="floatingInput" placeholder="아이디"            
            name="user_id"
            maxlength='15'/>
            <label for="floatingInput">ID (*)</label>
        </div>

        <!--{% for error in form.user_id.errors %}
            {{ error }}
        {% endfor %}

        {{ errors.user_id }}
        -->

        <p class="mt-1 text-muted"></p>

        <!-- 패스워드 입력 -->
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"            
            name="password2"
            maxlength='20'/>
            <label for="floatingPassword">Password (*)</label>
        </div>

        <!--{% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}

        {{ errors.password2 }} -->

        <p class="mt-1 text-muted"></p>  
        
        <!--비밀번호확인-->
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"            
            name="password1"
            maxlength='20'/>
            <label for="floatingPassword">Password 확인 (*)</label>
        </div>

        <!--{% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}

        {{ errors.password2 }}
        -->

        <small class="">
            최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요. 일상적인 비밀번호는 사용할 수 없습니다.
        </small>
        
        <!--휴대폰번호-->
        <div class="">
            <p>
                휴대폰 번호
                <input
                    type="text"
                    class="form-control"
                    id="id_hp"
                    name="hp"
                    maxlength='11'
                />

                {% for error in form.hp.errors %}
                    {{ error }}
                {% endfor %}
                {{ errors.hp }}
            </p>

            <button class="" type="submit" formaction="../api/v1/auth-message" formtarget="blankifr" onclick="btnActive()">
                인증번호 전송
            </button>

            <small class="form-text text-muted">
                하이픈(-)을 제외한 숫자로만 입력해주세요.
            </small>
        </div>
        <div class="">
            <p>
                인증 번호
                <input
                    type="text"
                    class="form-control"
                    id="id_auth"
                    name="auth"
                    maxlength='6'
                    disabled
                />

                {{ errors.auth }}
            </p>
        </div>

    </div>

    <button class="" type="submit" formaction="">
        회원가입
    </button>

</form>
    
</body>
<iframe name='blankifr' style='display:none;'></iframe>
<script>

    function btnActive(){
        const target = document.getElementById('id_auth');
        target.disabled = false;
    }
</script>
{% endblock %}