<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form method="POST" novalidate>
    {% csrf_token %}
    <div>
        <!--아이디-->
        <div class="">
            <p>
                아이디
                {{ form.user_id }}

                {% for error in form.user_id.errors %}
                    {{ error }}
                {% endfor %}
            </p>

        </div>
        
        <!--비밀번호-->
        <div class="">
            <!--비밀번호입력-->
            <div class="">
                <p>
                    비밀번호
                    {{ form.password2 }}

                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>
            
            <!--비밀번호확인-->
            <div class="">
                <p>
                    비밀번호 확인
                    {{ form.password1 }}

                    {% for error in form.password1.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <small class="">
                    최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요. 일상적인 비밀번호는 사용할 수 없습니다.
                </small>
            </div>
        </div>
        
        <!--휴대폰번호-->
        <div class="">
            <p>
                휴대폰 번호
                {{ form.hp }}

                {% for error in form.hp.errors %}
                    {{ error }}
                {% endfor %}
            </p>

            <button class="" type="submit" formaction="../api/auth-message  ">
                인증번호 전송
            </button>

            <small class="form-text text-muted">
                하이픈(-)을 제외한 숫자로만 입력해주세요.
            </small>
        </div>
        <div class="">
            <p>
                인증 번호
                {{ form.auth }}

                {% for error in form.auth.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        </div>

    </div>

    <button class="" type="submit" formaction="">
        회원가입
    </button>

</form>
    
</body>
</html>